@page "/"
@inherits BasePage

<h1>Aktualne turnieje</h1>

<SurveyPrompt Title="Tabele się uaktualniają po wprowadzeniu wyników spotkań przez Admina." />

@if (tournaments == null)
{
    <p>Ładowanie...</p>
}
else
{
    foreach (var tournament in tournaments)
    {
        <div class="row">
            <TournamentTable Tournament="@tournament" />
        </div>

    }
}


@functions{

    IEnumerable<TournamentViewModel> tournaments;

    protected override async Task OnInitAsync()
    {
        tournaments = await ApiClient.GetJsonAuthorizedAsync<List<TournamentViewModel>>("api/tournament");
    }

}