@using BetsKing.Shared.ViewModels.Gambler
@inject BetsKing.Client.Services.IApiClientService apiClient;
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper uriHelper;

@if (@Gambler != null && !string.IsNullOrEmpty(Gambler.DisplayName))
{
    <div class="top-row px-4">
        <span class="ml-md-auto">Witaj @Gambler.DisplayName!</span>
        <button type="button" class="btn btn-warning" style="margin-left:10px;" onclick="@Logout">Wyloguj</button>
    </div>
}
else
{
    <div class="top-row px-4">
        <a href="login" class="btn btn-success ml-md-auto">Zaloguj</a>
    </div>
}


@functions {
    [Parameter]
    GamblerViewModel Gambler { get; set; }

    async Task Logout()
    {
        apiClient.AddAuthorizationHeader(string.Empty);
        await apiClient.GetAndSetGamblerInfo();
        uriHelper.NavigateTo("/");

    }
}