@inherits BaseLayout

<div class="sidebar">
    <NavMenu Gambler="@StaticClientInfoViewModel.Gambler" />
</div>

<div class="main">
    <TopMenu Gambler="@StaticClientInfoViewModel.Gambler" />
    @*<div class="top-row px-4">
            <a href="login" class="ml-md-auto">Zaloguj</a>
        </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>

@functions{
}